{% extends 'gw2_tp/base.html' %}

{% block content %}
<h1>{{title}}</h1>

<!-- Чекбокс для переключения состояния -->
<label class="switch">
    <input type="checkbox" id="conditionCheckbox">
    <span class="slider round"></span>
</label>

    <h3>Список покупок</h3>
<!-- Форма для извлечения и сохранения истории покупок -->
<form action="{% url 'get_history' %}" method="post">
    {% csrf_token %}
    <button class="my-button" type="submit">Get and Save History Buys</button>
</form>

<!-- Форма для обсчета цены продажи -->
<form action="{% url 'calculate_selling_price' %}" method="post">
    {% csrf_token %}
    <button class="my-button" type="submit">Calculate selling prices</button>
</form>

<!-- Форма для удаления всех записей истории покупок -->
<form action="{% url 'delete_entries' %}" method="post">
    {% csrf_token %}
    <button class="my-button" type="submit">Delete All Entries</button>
</form>


<!-- Список покупок -->

<ul class="list-articles">
    {% for item in buys %}
    <p>[ Item ID: {{item.item_id}}
        | Item price: {{item.price}}
        | Item quantity: {{item.quantity}}
        | Selling price threshold: {{ item.selling_price }}]</p>
    {% endfor %}
</ul>

<h3>Список предметов</h3>
<!-- Форма для извлечения и сохранения данных предметов -->
<form action="{% url 'get_items' %}" method="post">
    {% csrf_token %}
    <button class="my-button" type="submit">Get and Save Items</button>
</form>

<!-- Форма для обновления цен на предметы -->
<form action="{% url 'get_items_prices' %}" method="post">
    {% csrf_token %}
    <button class="my-button" type="submit">Update item prices</button>
</form>

<!-- Форма для удаления всех записей предметов -->
<form action="{% url 'delete_items' %}" method="post">
    {% csrf_token %}
    <button class="my-button" type="submit">Delete All Items</button>
</form>


<!-- Список предметов -->

<ul class="list-articles">
    {% for item in items %}
        <!-- Отображение данных о предмете -->
        <p class="item-info">[
        <img class="item-icon" src="{{ item.icon }}" alt="{{ item.name }} Icon">
        | ID: {{ item.item_id }}
        | Name: {{ item.name }}
        | Price now: {{ item.price_now }}
        ]</p>
    {% endfor %}
</ul>


<h3>Список предметов 'на продаже'</h3>
<!-- Форма для обновления предметов 'на продаже' -->
<form action="{% url 'get_current_sells_list' %}" method="post">
    {% csrf_token %}
    <button class="my-button" type="submit">Update current sells list</button>
</form>

<ul class="list-articles">
    {% for item in current_sells %}
    <p>[ Item ID: {{item.item_id}}
        | Item price: {{item.price}}
        | Item quantity: {{item.quantity}}
        | Selling price threshold: {{ item.selling_price }}]</p>
    {% endfor %}
</ul>


    <h3>Список проданных предметов</h3>
<!-- Форма для извлечения и сохранения истории покупок -->
<form action="{% url 'get_sells_data' %}" method="post">
    {% csrf_token %}
    <button class="my-button" type="submit">Get and Save Sells</button>
</form>


<!-- Форма для удаления всех записей истории покупок -->
<form action="{% url 'delete_sells' %}" method="post">
    {% csrf_token %}
    <button class="my-button" type="submit">Delete All Entries</button>
</form>

<ul class="list-articles">
    {% for item in sells %}
    <p>[ Item ID: {{item.item_id}}
        | Item price: {{item.price}}
        | Item quantity: {{item.quantity}}
        | Selling price threshold: {{ item.selling_price }}]</p>
    {% endfor %}
</ul>


{% endblock %}