{% extends 'common_assets/base.html' %}

{% load static %}

{% block styles %}
    <link type="text/css" href="{% static 'gw2_tp/css/gw2_tp_styles.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% block chart %}{% endblock %}

    <div class="container">
        <div class="column">
            <!-- Информация о покупках -->
            <div class="trading_title">Покупки</div>
            <table class="trading_table">
                <!-- Заголовки таблицы -->
                <thead>
                    <tr class="table-row">
                        <th>Image</th>
                        <th>Name</th>
                        <th>Total Price</th>
                        <th>Total Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item_summary in summary_data %}
                    {% if item_summary.category == "Покупки" %}
                        <tr class="table-row">
                            <td>
                                {% for item_info in items_info %}
                                    {% if item_info.item_id == item_summary.item_id %}
                                        <img src="{{ item_info.icon }}" alt="{{ item_info.name }}" />
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for item_info in items_info %}
                                    {% if item_info.item_id == item_summary.item_id %}
                                        {{ item_info.name }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="text-center">{{ item_summary.total_price }}</td>
                            <td class="text-center">{{ item_summary.total_quantity }}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <!-- Информация о текущих продажах -->
            <div class="trading_title">Сейчас на продаже</div>
            <table class="trading_table">
                <!-- Заголовки таблицы -->
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Total Price</th>
                        <th>Total Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item_summary in summary_data %}
                    {% if item_summary.category == "Сейчас на продаже" %}
                        <tr>
                            <td>
                                {% for item_info in items_info %}
                                    {% if item_info.item_id == item_summary.item_id %}
                                        <img src="{{ item_info.icon }}" alt="{{ item_info.name }}" />
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for item_info in items_info %}
                                    {% if item_info.item_id == item_summary.item_id %}
                                        {{ item_info.name }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="text-center">{{ item_summary.total_price }}</td>
                            <td class="text-center">{{ item_summary.total_quantity }}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="column">
            <!-- Информация о проданных товарах -->
            <div class="trading_title">Продано</div>
            <table class="trading_table">
                <!-- Заголовки таблицы -->
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Total Price</th>
                        <th>Total Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item_summary in summary_data %}
                    {% if item_summary.category == "Продано" %}
                        <tr>
                            <td>
                                {% for item_info in items_info %}
                                    {% if item_info.item_id == item_summary.item_id %}
                                        <img src="{{ item_info.icon }}" alt="{{ item_info.name }}" />
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for item_info in items_info %}
                                    {% if item_info.item_id == item_summary.item_id %}
                                        {{ item_info.name }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="text-center">{{ item_summary.total_price }}</td>
                            <td class="text-center">{{ item_summary.total_quantity }}</td>
                        </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}