{% extends 'common_assets/base.html' %}
<link type="text/css" href="{% static 'gw2_tp/css/gw2_tp_styles.css' %}" rel="stylesheet">

{% block content %}

<h1>{{title}} ТЕСТОВЫЙ БИЛД!</h1>
<h2>Перед выходом в паблик НЕ ЗАБУДЬ ВСЕ ПРОВЕРИТЬ!!!</h2>

{#    <!-- Форма для удаления всех записей DB -->#}
{#<form action="{% url 'delete_all' %}" method="post">#}
{#    {% csrf_token %}#}
{#    <button class="my-button" type="submit">DELETE ALL!!!</button>#}
{#</form>#}
{##}
{#    <!-- Форма для отправки уведомления в TG -->#}
{#<form action="{% url 'time_to_notify' %}" method="post">#}
{#    {% csrf_token %}#}
{#    <button class="my-button" type="submit">time_to_notify</button>#}
{#</form>#}




{#<!-- Чекбокс для переключения состояния -->#}
{#<label class="switch">#}
{#    <input type="checkbox" id="conditionCheckbox">#}
{#    <span class="slider round"></span>#}
{#</label>#}

<div class="container">
    <div class="column">
        <!-- Информация о покупках -->
        <h1>Покупки</h1>
            <table>
                <!-- Заголовки таблицы -->
                <thead>
                    <tr class="table-row">
                        <th>Image</th>
                        <th>Name</th>
                        <th>Total Price</th>
                        <th>Total Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item_summary in summary_data %}
                    {% if item_summary.category == "Покупки" %}
                    <tr class="table-row">
                        <td>
                            {% for item_info in items_info %}
                                {% if item_info.item_id == item_summary.item_id %}
                                    <img src="{{ item_info.icon }}" alt="{{ item_info.name }}" />
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for item_info in items_info %}
                                {% if item_info.item_id == item_summary.item_id %}
                                    {{ item_info.name }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="text-center">{{ item_summary.total_price }}</td>
                        <td class="text-center">{{ item_summary.total_quantity }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <div class="column">
        <!-- Информация о текущих продажах -->
        <h1>Сейчас на продаже</h1>
            <table>
                <!-- Заголовки таблицы -->
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Total Price</th>
                        <th>Total Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item_summary in summary_data %}
                    {% if item_summary.category == "Сейчас на продаже" %}
                    <tr>
                        <td>
                            {% for item_info in items_info %}
                                {% if item_info.item_id == item_summary.item_id %}
                                    <img src="{{ item_info.icon }}" alt="{{ item_info.name }}" />
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for item_info in items_info %}
                                {% if item_info.item_id == item_summary.item_id %}
                                    {{ item_info.name }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="text-center">{{ item_summary.total_price }}</td>
                        <td class="text-center">{{ item_summary.total_quantity }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <div class="column">
        <!-- Информация о проданных товарах -->
        <h1>Продано</h1>
            <table>
                <!-- Заголовки таблицы -->
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Total Price</th>
                        <th>Total Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item_summary in summary_data %}
                    {% if item_summary.category == "Продано" %}
                    <tr>
                        <td>
                            {% for item_info in items_info %}
                                {% if item_info.item_id == item_summary.item_id %}
                                    <img src="{{ item_info.icon }}" alt="{{ item_info.name }}" />
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>
                            {% for item_info in items_info %}
                                {% if item_info.item_id == item_summary.item_id %}
                                    {{ item_info.name }}
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="text-center">{{ item_summary.total_price }}</td>
                        <td class="text-center">{{ item_summary.total_quantity }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
    </div>
</div>



{% endblock %}