{% extends 'common_assets/base.html' %}


{% block content %}
<h1>{{title}} ТЕСТОВЫЙ БИЛД!</h1>
<h2>Перед деплоем НЕ ЗАБУДЬ ВСЕ ПРОВЕРИТЬ!!!</h2>



<!-- Список покупок -->
<details>
    <summary>
        Список покупок
    </summary>
    <ul class="list-articles">
        {% for item in buys %}
        <p>[ Item ID: {{item.item_id}}
            | Item price: {{item.price}}
            | Item quantity: {{item.quantity}}
            | Selling price threshold: {{ item.selling_price }}]</p>
        {% endfor %}
    </ul>
</details>


<details>
    <summary>
        Список предметов 'на продаже'
    </summary>
    <ul class="list-articles">
    {% for item in current_sells %}
    <p>[ Item ID: {{item.item_id}}
        | Item price: {{item.price}}
        | Item quantity: {{item.quantity}}
        | Selling price threshold: {{ item.selling_price }}]</p>
    {% endfor %}
    </ul>
</details>


<details>
    <summary>
        Список проданных предметов
    </summary>
    <ul class="list-articles">
    {% for item in sells %}
    <p>[ Item ID: {{item.item_id}}
        | Item price: {{item.price}}
        | Item quantity: {{item.quantity}}
        | Selling price threshold: {{ item.selling_price }}]</p>
    {% endfor %}
    </ul>
</details>


{% endblock %}