_libgcc_mutex==0.1
_openmp_mutex==5.1
appdirs==1.4.4
asgiref==3.4.1
asn1crypto==1.4.0
brotlipy==0.7.0
ca-certificates==2023.05.30
certifi==2021.5.30
cffi==1.14.0
charset-normalizer==2.0.12
cryptography==35.0.0
django==3.2.18
djangorestframework==3.14.0
docker-py==4.4.1
docker-pycreds==0.4.0
idna==3.4
libedit==3.1.20221030
libffi==3.2.1
libgcc-ng==11.2.0
libgomp==11.2.0
libstdcxx-ng==11.2.0
ncurses==6.4
openssl==1.1.1v
packaging==21.3
pillow==8.4.0
pip==21.2.2
pycparser==2.21
pyopenssl==22.0.0
pyparsing==3.0.4
pysocks==1.7.1
python==3.6.9
pytz==2023.3
readline==7.0
requests==2.27.1
setuptools==58.0.4
six==1.16.0
sqlite==3.33.0
sqlparse==0.4.4
tk==8.6.12
typing-extensions==4.1.1
urllib3==1.26.16
websocket-client==0.58.0
wheel==0.37.1
xz==5.2.10
zlib==1.2.13
