.warnings {
    padding: 10px 10px 30px;
}
.warnings_title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
}
.warnings_subtitle {
    font-size: 18px;
    font-weight: 600;
}
.container {
    display: flex;
}
.column {
    flex: 1;
    padding: 10px;
}
.trading_title {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}
.trading_table {
    width: 100%;
    border-collapse: collapse;
}
.trading_table td.text-center {
    text-align: center;
}
.trading_table tr {
	border-bottom: 1px solid #000;
}
.trading_table td img {
	display: block;
	width: 100%;
	height: auto
}
.trading_table tr td, .trading_table tr th {
	border-right: 1px solid #000;
	padding: 8px;
    vertical-align: middle;
}
.trading_table tr td:last-child, .trading_table tr th:last-child {
	border-right: none;
}
.trading_table tr td:first-child, .trading_table tr th:first-child {
	padding: 0;
	width: 64px;
}


/* Styles for commented components */
.my-button {
    background-color: #0b520b;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.my-button:hover {
    background-color: #45a049;
}

.my-button:active {
    background-color: #3e8e41;
}