<!DOCTYPE html>
{% load static %}
<html>


<head>
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'common_assets/css/reset.css' %}" rel="stylesheet">
    <link type="text/css" href="{% static 'common_assets/css/styles.css' %}" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
        <tr>
            <td valign="top">
                    {% block mainmenu %}
                    <div class="header">
                        <ul id="mainmenu" class="mainmenu">
                            <li class="logo"><a href="https://github.com/AE563"><div class="logo"></div></a></li>
                            <li><a href="https://www.ae563.ru/gw2_tp/main/">GW2-TP</a></li>
                            <li><a href="https://www.ae563.ru/rpsls/rpsls/">RPSLS-game</a></li>
                        </ul>
                        <div class="clear"></div>
                    </div>
                    {% endblock mainmenu %}


                <div class="content-text">
                    {% block content %}{% endblock %}
                </div>
            </td>
        </tr>

</body>


</html>
