<!DOCTYPE html>
{% load static %}
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
    <title>{{ title }}</title>
    <link type="text/css" href="{% static 'gw2_tp/css/styles.css' %}" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <table class="table-page" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="top">
                    {% block mainmenu %}
                    <div class="header">
                        <ul id="mainmenu" class="mainmenu">
                            <li class="logo"><a href="https://github.com/AE563"><div class="logo"></div></a></li>
                            <!-- Добавляем пункт GW2-TP -->
                            <li><a href="http://127.0.0.1:8000/gw2_tp/gw2-tp-test/">GW2-TP test</a></li>
                            <li><a href="http://127.0.0.1:8000/rpsls/rpsls/">RPSLS-game</a></li>
                            <!-- Здесь можно добавить другие пункты меню -->
                        </ul>
                        <div class="clear"></div>
                    </div>
                    {% endblock mainmenu %}

                {% for category in categories %}
                    <li{% if category.pk == cat_selected %} class="selected"{% endif %}>
                        <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                    </li>
                {% endfor %}

                <div class="content-text">
                    {% block content %}{% endblock %}
                </div>
            </td>
        </tr>
    </table>
</body>
</html>
