* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2b2d30;
    background-image: url("/ae563_site/staticfiles/common_assets/images/pattern.png");
    background-repeat: repeat;
    background-attachment: fixed;
    color: #fff;
}

.header {
    position: sticky;
    top: 0;
    background-color: #383838;
    color: #fff;
    font-weight: bold;
    padding: 5px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.header-container {
    max-width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: inline-block;
    margin-right: 20px;
}

.navigation ul li:last-child {
    margin-right: 0;
}

.navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.navigation ul li a:hover {
    text-decoration: underline;
}

.github-logo {
    display: flex;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.github-logo:hover {
    text-decoration: underline;
}

.github-logo img {
    width: 40px;
    height: auto;
    margin-right: 5px;
    margin-left: 2px;
}

.logo img {
    display: flex;
    align-items: center;
    width: 40px;
    height: auto;
    margin-right: 5px;
}

.footer {
    background-color: #383838;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
}

.content {
    margin-bottom: 20px;
}

.footer-container {
    bottom: 0;
    position: sticky;
    max-width: auto;
    margin: 0 auto;
}

.contact-info {
    margin-top: 5px;
}

.contact-info span {
    margin-right: 20px;
}

.contact-info a {
    color: #fff;
}

.contact-info a:hover {
    color: #d3d2d2;
}

.contact-info span:last-child {
    margin-right: 0;
}

.my-button {
    color: #ffffff;
    background-color: #383838;
    border-color: #21262d;
    box-shadow: 0 0 transparent, 0 0 transparent;
    transition: color 80ms cubic-bezier(0.33, 1, 0.68, 1),
                background-color 80ms cubic-bezier(0.33, 1, 0.68, 1),
                box-shadow 80ms cubic-bezier(0.33, 1, 0.68, 1),
                border-color 80ms cubic-bezier(0.33, 1, 0.68, 1);
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}

.my-button:hover {
    background-color: #30363d;
    border-color: #8b949e;
}

.my-button:active {
    background-color: #161b22;
    border-color: #6e7681;
}
