body {
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}

header {
	background: #3F4137;
	height: 60px;
}

.logo {
	background: url('../images/aelogo.png') no-repeat 10px 5px;
	width: 70px;
	height: 60px;
}

.mainmenu {
    display: flex;
    align-items: center;
	height: 60px;
	font-size: 20px;
}
.mainmenu_item {
	margin: 18px 40px 0 30px;
}
.mainmenu_item.logo {margin: 0;}

.mainmenu_item a {
	color: #fdc073;
	text-decoration: none;
}
.mainmenu_item a:hover {
	color: #FDA83D;
}
