/* Общие стили для HTML и BODY */
html, body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    color: #444;
}

/* Стили для ссылок */
a {
    color: #0059b2;
    text-decoration: none;
}

a:hover {
    color: #CC0000;
    text-decoration: underline;
}

/* Стили для изображений */
img {
    max-width: 600px;
    height: auto;
}

img.img-article-left {
    max-width: 300px;
    height: auto;
    float: left;
    padding: 0 10px 10px 0;
}

img.img-article-left.thumb {
    max-width: 150px;
    height: auto;
}

/* Стили для кнопок */
.my-button {
    background-color: #0b520b;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.my-button:hover {
    background-color: #45a049;
}

.my-button:active {
    background-color: #3e8e41;
}