{% extends 'common_assets/base.html' %}


<!DOCTYPE html>
{% load static %}
{% block content %}
<img src="{% static 'rpsls/images/rpsls_rule.jpg' %}" alt="rpsls_rule">


<details>
    <summary>
        Правила игры
    </summary>
    <p>
        Ножницы режут бумагу<br>
        Бумага покрывает камень<br>
        Камень давит ящерицу<br>
        Ящерица отравляет Спока<br>
        Спок ломает ножницы<br>
        Ножницы обезглавливают ящерицу<br>
        Бумага подставляет Спока<br>
        Спок испаряет камень<br>
        Камень разбивает ножницы<br>
    </p>
</details>

<h1>Rock Paper Scissors Lizard Spock - the game</h1>
    <p>Оппонент - {{ opponent }}</p>
    <hr>
    {% if choice != "new_game" %}
        <p>Вы выбрали: {{ choice }}</p>
        <p>{{ opponent }} выбрал: {{ computer_fighter }}</p>
        <p>Результаты раунда:
            {% if winner == 'computer_win' %}
                {{ opponent }}, выиграл в этом раунде
            {% else %}
                Вы, выиграли в этом раунде
            {% endif %}
        </p><br>
        <p>Ваш счет: {{ player_score }}</p>
        <p>{{ opponent }} счет: {{ computer_score }}</p>
    {% else %}
        <br><br><br><br><br><br><br><br>
        <p>Сделайте выбор:</p>
    {% endif %}


    <hr>
    {% if choice %}
        <p>Раунд - {{ round_counter }}</p>
    {% else %}
        <br><br><br>
    {% endif %}


    {% if player_score == 3 %}
        <p><b>Вы выиграли, со счетом: {{ player_score }}:{{ computer_score }}</b></p>
        <form method="post" action="{% url 'rpsls' %}">
            {% csrf_token %}
        <button class="my-button" type="submit" name="choice" value="new_game">Сыграть еще раз?</button>
        </form>

    {% elif computer_score == 3 %}
        <p><b>{{ opponent }} выиграл, со счетом: {{ computer_score }}:{{ player_score }}</b></p>
        <form method="post" action="{% url 'rpsls' %}">
            {% csrf_token %}
        <button class="my-button" type="submit" name="choice" value="new_game">Сыграть еще раз?</button>
        </form>

    {% else %}
        <form method="post" action="{% url 'rpsls' %}">
            {% csrf_token %}
            <button class="my-button" type="submit" name="choice" value="Rock">Rock</button>
            <button class="my-button" type="submit" name="choice" value="Paper">Paper</button>
            <button class="my-button" type="submit" name="choice" value="Scissors">Scissors</button>
            <button class="my-button" type="submit" name="choice" value="Lizard">Lizard</button>
            <button class="my-button" type="submit" name="choice" value="Spock">Spock</button>
        </form>
    {% endif %}


{% endblock %}
